<%- include("header.ejs") %>

<main class="main-container">
    <h1 style="font-size: 45px;"><u>Summary</u></h1>
    <ul>
        <li> Time: <%= time %> </li>
        <li> First Name: <%= firstName %> </li>
        <li> Last Name: <%= lastName %> </li>
        <li> Email: <%= email %> </li>
        <li> Phone: <%= phone %> </li>
        <!-- <li> Conditions checked: <%= agrees %> </li> -->
    </ul>
</main>

<%- include("footer.ejs") %>